[Unit]
Description=Export data from MQTT transmitted by prom2mqtt-fetch and export data for Prometheus
After=network.target auditd.service sssd.service

[Service]
EnvironmentFile=-/etc/default/prom2mqtt-export
ExecStart=/usr/sbin/prom2mqtt-export $OPTIONS
Restart=on-failure
User=prometheus
Group=prometheus

[Install]
WantedBy=multi-user.target

